# Sistema operativo
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Si en algún momento agregas el source code:
node_modules/
dist/
.env
.env.local
src/
